<div id={{product._id}} class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src={{product.imageURL}} alt="">
        </div>
        <div class="flip-card-back">
            <div class="back-header">
                <img src={{product.imageURL}} alt="">
            </div>
            <div class="back-footer">
                <h4>{{product.name}}</h4>
                <h5>{{product.category}}</h5>
                <button class="btn btn-danger">{{product.price}}$ Add to cart</button>
            </div>
        </div>
    </div>
</div>