<div id={{product._id}} class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src={{product.imageURL}} alt="">
        </div>
        <div class="flip-card-back">
            <div class="back-header">
                <img src={{product.imageURL}} alt="">
            </div>
            <div class="back-footer">
                <h5>{{product.name}}</h5>
                <h5>{{product.category}}</h5>
                <div style="margin:2%">
                    <span>amount:<input [(ngModel)]="amount" type="number" style="opacity: 0.5; border-radius: 10%;"
                            name="amount" min="1" max="100"></span>
                </div>
                <button (click)="addToCart(product,amount)" class="btn btn-danger">{{product.price*amount}}₪ Add to
                    cart</button>
            </div>
        </div>
    </div>
</div>