<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">add product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleInputEmail1">imageURL</label>
            <input [(ngModel)]="imageURL" type="text" class="form-control" id="form1" placeholder="imageURL">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input [(ngModel)]="name" type="text" class="form-control" id="form1" placeholder="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">category</label>
            <input [(ngModel)]="category" type="text" class="form-control" id="form1" placeholder="category">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">price in ils</label>
            <input [(ngModel)]="price" type="text" class="form-control" id="form1" placeholder="price in ils">
        </div>
        <button type="button" class="btn btn-block btn-outline-dark" (click)=" addProduct()">Save</button>
    </div>
</ng-template>

<button class="btn btn-block btn-outline-success" (click)="open(content)">add product</button>

<hr>

<pre>{{ closeResult }}</pre>