.products-main-div{
    background:rgba(0, 0, 0, 0.692);
    height:100%;
    margin-top:20px;
    text-align:center;
}

.products-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.categorySelect{
	background: #555;
	border: solid 1px #ccc;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}

input[type=search] {
	background: #555;
	border: solid 1px #ccc;
	margin-left: 8%;
	padding: 9px 10px 9px 32px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}

